---
layout: page
title: Examples
section: examples
type: example
description: Real life pattern libraries, code standards documents and content style guides.
---

<div class="l-container">
    <header class="c-page-header">
        <h1 class="c-page-header__title">{{site.example-title}} ({{site.ds-example | size}})</h1>
        <p class="c-page-header__description">{{site.example-description}}</p>
    </header>
</div><!-- end l-container -->

<div class="c-tabs c-tabs--center js-tabs">
        <h3 class="c-tabs__heading">View</h3>

    	<ul class="c-tabs__list">
            <li class="c-tabs__item">
    			<a href="#list-toggle" class="c-tabs__link js-tab">List</a>
    		</li><!-- end c-tabs__item -->
    		<li class="c-tabs__item">
    			<a href="#card-toggle" class="c-tabs__link js-tab">Card</a>
    		</li><!-- end c-tabs__item -->

    	</ul><!-- end c-tabs__list -->

    <div class="c-tabs__body">

        <div class="c-tabs__panel js-tabs-panel" id="list-toggle">

            {% assign section = site.ds-example | sort: 'title'  %}

            <section class="c-section">

                <div class="l-container l-container--narrow">
                    <ul class="c-stripe-list">

                        {% for item in section %}
                        {% if item.status == 'recommended' %}
                        <li class="c-stripe-list__item {{ item.status }}">
                            <div class="c-stripe">
                                <header class="c-stripe__header">
                                    <h3 class="c-stripe_title"><a class="c-stripe__link" href="{{ item.url }}">{{ item.title }}</a></h3>
                                    {% if item.author %}<span class="c-stripe__meta">By {{ item.author }} </span>{% endif %}
                                </header>
                                <div class="c-stripe__body">
                                    <div class="c-tags">
                                        <ul class="c-tags__list">
                                            {% for tags in item.tags %}<li class="c-tags__item">{{ tags }}</li>{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% if item.languages %}
                                <footer class="c-stripe__footer">
                                    <div class="c-inline-list">
                                        <ul class="c-inline__list">
                                            {% for language in item.languages %}<li class="c-inline-list__item">{{ language }}</li>{% endfor %}
                                        </ul>
                                    </div>
                                </footer>
                                {% endif %}
                            </div><!-- end c-stripe-->
                        </li><!-- end c-stripe-list__item-->
                        {% endif %}
                        {% endfor %}

                        {% for item in section %}
                        {% if item.status == null %}
                        <li class="c-stripe-list__item {{ item.status }}">
                            <div class="c-stripe">
                                <header class="c-stripe__header">
                                    <h3 class="c-stripe_title"><a class="c-stripe__link" href="{{ item.url }}">{{ item.title }}</a></h3>
                                    {% if item.author %}<span class="c-stripe__meta">By {{ item.author }} </span>{% endif %}
                                </header>
                                <div class="c-stripe__body">
                                    <div class="c-tags">
                                        <ul class="c-tags__list">
                                            {% for tags in item.tags %}<li class="c-tags__item">{{ tags }}</li>{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% if item.languages %}
                                <footer class="c-stripe__footer">
                                    <div class="c-inline-list">
                                        <ul class="c-inline__list">
                                            {% for language in item.languages %}<li class="c-inline-list__item">{{ language }}</li>{% endfor %}
                                        </ul>
                                    </div>
                                </footer>
                                {% endif %}
                            </div><!-- end c-stripe-->
                        </li><!-- end c-stripe-list__item-->
                        {% endif %}
                        {% endfor %}

                    </ul><!-- end c-stripe-list -->

                </div><!-- end l-container -->

            </section><!-- end c-section -->

        </div><!-- end c-tabs__panel -->

        <div class="c-tabs__panel js-tabs-panel" id="card-toggle">

            <section class="c-section">

                <div class="l-container">

                    {% assign section = site.ds-example | sort: 'title'  %}
                    {% include tags.html %}
                    {% include loop-resources.html %}
                    {% include add.html %}

                </div><!-- end l-container -->

            </section><!-- end c-section -->

        </div><!-- end c-tabs__panel -->

    </div><!-- end c-tabs__body -->

</div><!-- end c-tabs -->
