---
layout: page
title: Examples
section: examples
type: example
description: Real life pattern libraries, code standards documents and content style guides.
---

<header class="c-page-header">
    <h1 class="c-page-header__title">{{site.example-title}} ({{site.resourceexample | size}})</h1>
    <p class="c-page-header__description">{{site.example-description}}</p>
</header>

<section>
  {% assign section = site.resourceexample | sort: 'title'  %}
  {% include tags.html %}
  {% include loop-resources.html %}
  {% include add.html %}
</section>
