---
layout: page
section: home
type: home
---

<h1><a href="articles">Articles</a></h1>
<ul class="resources resource-type-article">
{% assign section = site.resourcearticle | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-article.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/articles/" class="link-view-more">More articles…</a>

<h1><a href="books">Books</a></h1>
<ul class="resources resource-type-book">
{% assign section = site.resourcebook | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-book.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/books/" class="link-view-more">More books…</a>

<h1><a href="podcasts">Podcasts</a></h1>
<ul class="resources resource-type-podcast">
{% assign section = site.resourcepodcast | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-podcast.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/articles/" class="link-view-more">More podcasts…</a>

<h1><a href="talks">Talks</a></h1>
<ul class="resources resource-type-talk">
{% assign section = site.resourcetalk | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-talk.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/talks/" class="link-view-more">More talks…</a>

<h1><a href="tools">Tools</a></h1>
<ul class="resources resource-type-tool">
{% assign section = site.resourcetool | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-tool.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/tools/" class="link-view-more">More tools…</a>

<h1><a href="examples">Examples</a></h1>
<ul class="resources resource-type-example">
{% assign section = site.resourceexample | sort: 'title'  %}
{% for item in section %}
{% if item.status == 'recommended' %}
{% include loop-example.html %}
{% endif %}
{% endfor %}
</ul>
<a href="/examples/" class="link-view-more">More examples…</a>
