---
layout: page
---

<section>

    <h1>Articles</h1>
    
    <ul class="resources resource-type-article">
        {% assign article = site.resourcearticle | sort: 'status' %}
        {% for article in article reversed %}
        <li class="resource {{ article.status }}">
            <a href="{{ article.link }}" class="resource-url">
                <h2 class="resource-title">{{ article.title }}</h2>
                {{ article.content }}
                <p class="resource-author">By <strong>{{ article.author }}</strong></p>
                <p class="resource-publisher">Published on <strong>{{ article.site }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcearticle" class="resource-url">
                <h2 class="resource-title">Add an article</h2>
            </a>
        </li>
    </ul>

</section>

<section>

    <h1>Talks</h1>
    
    <ul class="resources resource-type-talk">
        {% assign talk = site.resourcetalk | sort: 'status' %}
        {% for talk in talk reversed %}
        <li class="resource {{ talk.status }}">
            <a href="{{ talk.link }}" class="resource-url">
                <h2 class="resource-title">{{ talk.title }}</h2>
                {{ talk.content }}
                <p class="resource-author">By <strong>{{ talk.author }}</strong></p>
                <p class="resource-publisher">At <strong>{{ talk.conference }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcetalk" class="resource-url">
                <h2 class="resource-title">Add a talk</h2>
            </a>
        </li>
    </ul>

</section>

<section>

    <h1>Podcasts</h1>
    
    <ul class="resources resource-type-podcast">
        {% assign podcast = site.resourcepodcast | sort: 'status' %}
        {% for podcast in podcast reversed %}
        <li class="resource {{ podcast.status }}">
            <a href="{{ podcast.link }}" class="resource-url">
                <h2 class="resource-title">{{ podcast.title }}</h2>
                {{ podcast.content }}
                <p class="resource-author">With <strong>{{ podcast.people }}</strong></p>
                <p class="resource-podcast">On <strong>{{ podcast.podcast }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcepodcast" class="resource-url">
                <h2 class="resource-title">Add a podcast</h2>
            </a>
        </li>
    </ul>

</section>

<section>

    <h1>Books</h1>
    
    <ul class="resources resource-type-book">
        {% assign book = site.resourcebook | sort: 'status' %}
        {% for book in book reversed %}
        <li itemscope itemtype="http://schema.org/Book" class="resource {{ book.status }}">
            <a href="{{ book.link }}" itemprop="url" class="resource-url">
                <h2 itemprop="name" class="resource-title">{{ book.title }}</h2>
                {{ book.content }}
                <p class="resource-author">By <strong itemprop="author">{{ book.author }}</strong></p>
                <p class="resource-publisher">Published by <strong itemprop="publisher">{{ book.publisher }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcebook" class="resource-url">
                <h2 class="resource-title">Add a book</h2>
            </a>
        </li>
    </ul>

</section>

<section>

    <h1>Tools</h1>
    
    <ul class="resources resource-type-tool">
        {% assign tool = site.resourcetool | sort: 'status' %}
        {% for tool in tool reversed %}
        <li class="resource {{ tool.status }}">
            <a href="{{ tool.link }}" class="resource-url">
                <h2 class="resource-title">{{ tool.title }}</h2>
                {{ tool.content }}
                <p class="resource-author">By <strong>{{ tool.author }}</strong></p>
                <p class="resource-language">Language/Platform: <strong>{{ tool.language }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcetool" class="resource-url">
                <h2 class="resource-title">Add a tool</h2>
            </a>
        </li>
    </ul>

</section>

<section>
    
    <h1>Examples</h1>
    
    <ul class="resources resource-type-example">
        {% assign example = site.resourceexample | sort: 'status' %}
        {% for example in example reversed %}
        <li class="resource {{ example.status }}">
            <a href="{{ example.link }}" class="resource-url">
                <h2 class="resource-title">{{ example.title }}</h2>
                {{ example.content }}
                <p class="resource-author">{{ example.author }}</p>
                <p class="resource-site">{{ example.site }}</p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourceexample" class="resource-url">
                <h2 class="resource-title">Add an example</h2>
            </a>
        </li>
    </ul>

</section>

<section>

    <h1>Guides</h1>
    
    <ul class="resources resource-type-guide">
        {% assign guide = site.resourceguide | sort: 'status' %}
        {% for guide in guide reversed %}
        <li class="resource {{ guide.status }}">
            <a href="{{ guide.link }}" class="resource-url">
                <h2 class="resource-title">{{ guide.title }}</h2>
                {{ guide.content }}
                <p class="resource-author">By <strong>{{ guide.author }}</strong></p>
                <p class="resource-podcast">Type: <strong>{{ guide.type }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourceguide" class="resource-url">
                <h2 class="resource-title">Add a guide</h2>
            </a>
        </li>
    </ul>

</section>