---
title: Pattern Primer
layout: page
---

<ul class="xx-swatches">

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #F3B8B3;"></span>
        <span class="xx-swatch-details">#F3B8B3 <strong>Podcasts</strong> <code>$color-1</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #EFAAA4;"></span>
        <span class="xx-swatch-details">#EFAAA4 <strong>Podcasts (alt)</strong> <code>$color-1-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #F1DF80;"></span>
        <span class="xx-swatch-details">#F1DF80 <strong>Books</strong> <code>$color-2</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #DAC462;"></span>
        <span class="xx-swatch-details">#DAC462 <strong>Books (alt)</strong> <code>$color-2-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #C1CC74;"></span>
        <span class="xx-swatch-details">#C5E17F <strong>Articles</strong> <code>$color-3</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #B7D176;"></span>
        <span class="xx-swatch-details">#B7D176 <strong>Articles (alt)</strong> <code>$color-3-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #6CBCCA;"></span>
        <span class="xx-swatch-details">#6CBCCA <strong>The Podcast</strong> <code>$color-4</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #5595A0;"></span>
        <span class="xx-swatch-details">#5595A0 <strong>The Podcast (alt)</strong> <code>$color-4-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #89CDC0;"></span>
        <span class="xx-swatch-details">#A6DAD0 <strong>Examples</strong> <code>$color-5</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #78C2B3;"></span>
        <span class="xx-swatch-details">#89C2B6 <strong>Examples (alt)</strong> <code>$color-5-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #B3B2D8;"></span>
        <span class="xx-swatch-details">#B3B2D8 <strong>Tools</strong> <code>$color-6</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #9C9BC6;"></span>
        <span class="xx-swatch-details">#9C9BC6 <strong>Tools (alt)</strong> <code>$color-6-darken</code></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #D7A8D7;"></span>
        <span class="xx-swatch-details">#D7A8D7 <strong>Talks</strong> <code>$color-7</code></span>
    </li>
    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="background-color: #C28EC2;"></span>
        <span class="xx-swatch-details">#C28EC2 <strong>Talks (alt)</strong> <code>$color-7-darken</code></span>
    </li>
</ul>

<ul class="xx-swatches">

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="font-family: Helvetica, Arial, sans-serif">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
            abcdefghijklmnopqrstuvwxyz<br/>
            0123456789!?@£$%^&*()_+-=’”,.:;
        </span>
        <span class="xx-swatch-details">Helvetica <code>$font-sans-regular</code> <strong>Body text</strong></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="font-family: 'baskerville', 'Times', sans-serif">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
            abcdefghijklmnopqrstuvwxyz<br/>
            0123456789!?@£$%^&*()_+-=’”,.:;
        </span>
        <span class="xx-swatch-details">baskerville <code>$font-serif-regular</code> <strong>Quotes</strong></span>
    </li>

    <li class="xx-swatch">
        <span class="xx-swatch-preview" style="font-family: 'Monaco', 'Courier', monospace">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
            abcdefghijklmnopqrstuvwxyz<br/>
            0123456789!?@£$%^&*()_+-=’”,.:;
        </span>
        <span class="xx-swatch-details">Monaco <code>$font-monospace-regular</code> <strong>Code samples</strong></span>
    </li>

</ul>

{% for patterns in site.patterns %}
{% if patterns.url contains '.html' %}
<div class="xx-pattern" id="{{ patterns.url | replace:'.html','' | replace:'/patterns/','' }}">

    <details class="xx-pattern-details">

        <summary class="xx-pattern-name">{{ patterns.url | replace:'.html','' | replace:'/patterns/','' }}</summary>

        {% highlight html linenos %}
        {{ patterns.content }}
        {% endhighlight %}

        <div class="xx-pattern-description">{{ patterns.description }}</div>

    </details>

    <div class="xx-pattern-preview">
        {{ patterns.content }}
    </div>

</div>
{% endif %}
{% endfor %}
