---
layout: page
title: Talks
section: talks
type: talk
description: Conference presentations about style guides.
---

<div class="l-container">

    <header class="c-page-header">
        <h1 class="c-page-header__title">{{site.talk-title}} ({{site.ds-talk | size}})</h1>
        <p class="c-page-header__description">{{site.talk-description}}</p>
    </header>

    <section class="c-section">
        {% assign section = site.ds-talk | sort: 'title'  %}
        {% include tags.html %}
        {% include loop-resources.html %}
        {% include add.html %}
    </section><!-- end c-section -->

</div><!-- end l-container -->
