<section>

    <h1><a href="articles.html">Articles</a></h1>
    
    <p>Things people have written about style guides</p>
    
    <ul class="resources resource-type-article">
        
        {% assign article = site.resourcearticle | sort: 'status' %}
        
        {% for article in article reversed %}
        <li class="resource {{ article.status }}">
            <a href="{{ article.link }}" class="resource-url">
                {% if page.type != "home" %}
                    {% if article.image %}<img src="/images/screenshots/{{ article.image }}" alt="{{ article.image }}"/>{% endif %}
                {% elsif article.status == "recommended" %}
                    {% if article.image %}<img src="/images/screenshots/{{ article.image }}" alt="{{ article.image }}"/>{% endif %}
                {% endif %}
                <span class="resource-description">
                    <h2 class="resource-title">{{ article.title }}</h2>
                    {{ article.content }}
                    {% if article.author %}<p class="resource-author">By <strong>{{ article.author }}</strong></p>{% endif %}
                    {% if article.publisher %}<p class="resource-publisher">Published on <strong>{{ article.site }}</strong></p>{% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
        
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcearticle" class="resource-url">
                <span class="resource-description">
                    <h2 class="resource-title">Add an article</h2>
                </span>
            </a>
        </li>
        
    </ul>

</section>