<section>

    <h1><a href="articles.html">Articles</a></h1>

    <p>Things people have written about style guides</p>

    {% assign section = site.resourcearticle | sort: 'title'  %}
    {% include tags.html %}

    <ul class="resources resource-type-article">

        {% for item in section %}
        {% if item.status == 'recommended' %}
        {% include loop-article.html %}
        {% endif %}
        {% endfor %}

        {% for item in section %}
        {% if item.status == null %}
        {% include loop-article.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}

    </ul>

</section>
