<section>

    <h1><a href="books.html">Books</a></h1>
    
    <p>Books written about style guides</p>
    
    <ul class="resources resource-type-book">
        
        {% assign book = site.resourcebook | sort: 'status' %}
        
        {% for book in book reversed %}
        <li itemscope itemtype="http://schema.org/Book" class="resource {{ book.status }}">
            <a href="{{ book.link }}" itemprop="url" class="resource-url">
                {% if page.type != "home" %}
                    {% if book.image %}<img src="/images/screenshots/{{ book.image }}" alt="{{ book.title }}"/>{% endif %}
                {% elsif book.status == "recommended" %}
                    {% if book.image %}<img src="/images/screenshots/{{ book.image }}" alt="{{ book.title }}"/>{% endif %}
                {% endif %}
                <span class="resource-description">
                    {% if talk.image == null %}
                        <h2 class="resource-title">{{ book.title }}</h2>
                    {% else %}
                        <h2 class="resource-title hidden">{{ book.title }}</h2>
                    {% endif %}
                    {{ book.content }}
                    {% if book.author %}<p class="resource-author">By <strong itemprop="author">{{ book.author }}</strong></p>{% endif %}
                    {% if book.publisher %}<p class="resource-publisher">Published by <strong itemprop="publisher">{{ book.publisher }}</strong></p>{% endif %}
                    
                </span>
            </a>
        </li>
        {% endfor %}
        
        {% include add.html %}
        
    </ul>

</section>