<section>

    <h1><a href="books.html">Books</a></h1>

    <p>Books written about style guides</p>

    <ul class="resources resource-type-book">

        {% assign book = site.resourcebook | sort: 'title'  %}

        {% for book in book %}
        {% if book.status == 'recommended' %}
        {% include loop-book.html %}
        {% endif %}
        {% endfor %}

        {% for book in book %}
        {% if book.status == null %}
        {% include loop-book.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}
        
    </ul>

</section>
