<section>

    <h1><a href="books.html">Books</a></h1>

    <p>Books written about style guides</p>

    <div class="filters">
      <h2>Filters</h2>
      {% assign section = site.resourcebook | sort: 'title'  %}
      {% include tags.html %}
      <div>
        <button data-filter="resource-type-book" data-reset="true">Reset All Filters</button>
        {% for tag in unique_tags %}
          <button data-filter="resource-type-book" data-filter-tag="{{tag | downcase}}">{{tag}}</button>
        {% endfor %}
      </div>
    </div>

    <ul class="resources resource-type-book">

        {% for item in section %}
        {% if item.status == 'recommended' %}
        {% include loop-book.html %}
        {% endif %}
        {% endfor %}

        {% for item in section %}
        {% if item.status == null %}
        {% include loop-book.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}

    </ul>

</section>
