<li class="resource {{ podcast.status }}">
  <span class="resource__image">
    {% if podcast.image %}<img class="lazy-load" data-src="/images/avatars/{{ podcast.image }}" alt="{{ podcast.image }}"/>
    <noscript><img src="lazy.jpg" /></noscript>
    {% endif %}
  </span>
  <span class="resource__description">
    <span class="resource__number">{{ podcast.number }}</span>
    <h2 class="resource__title"><a href="/podcast{{ podcast.link }}" class="resource__url">{{ podcast.title }}</a></h2>
    <div class="resource__summary">{{ podcast.content }}</div>
  </span>
</li>
