{% assign podcast = site.podcast | sort: 'number'  %}

<section>
  <h2 class="title">Season 2</h2>
  <ol class="c-avatar-list">
    {% for podcast in podcast reversed %}
      {% if podcast.season == 2 %}
        {% include episode.html %}
      {% endif %}
    {% endfor %}
  </ol>
</section>

<section>
  <h2 class="title">Season 1</h2>
  <ol class="c-avatar-list">
    {% for podcast in podcast reversed %}
      {% if podcast.season == 1 %}
        {% include episode.html %}
      {% endif %}
    {% endfor %}
  </ol>
</section>
