<section>
    <h1>Examples</h1>
    
    <p>Real life pattern libraries, code standards documents and content style guides</p>
    
    <ul class="resources resource-type-example">
        {% assign example = site.resourceexample | sort: 'status' %}
        
        {% for example in example reversed %}
            <li class="resource {{ example.status }}">
                <a href="{{ example.link }}" class="resource-url">
                    {% if page.title != "Style Guides" %}
                        {% if example.image %}<img src="/images/screenshots/{{ example.image }}" alt="{{ example.title }}"/>{% endif %}
                    {% elsif example.status == "recommended" %}
                        {% if example.image %}<img src="/images/screenshots/{{ example.image }}" alt="{{ example.title }}"/>{% endif %}
                    {% endif %}
                    
                    <span class="resource-description">
                        <h2 class="resource-title">{{ example.title }}</h2>
                        
                        {{ example.content }}
                        
                        {% if example.author %}<p class="resource-author">{{ example.author }}</p>{% endif %}
                        
                        {% if example.site %}<p class="resource-site">{{ example.site }}</p>{% endif %}
                        
                        {% if example.tags %}
                            <ul class="resource-tags">
                        	    {% for tags in example.tags %}
                        	        <li>{{ tags }}</li>
                        	    {% endfor %}
                        	</ul>
                        {% endif %}
                    </span>
                </a>
            </li>
        {% endfor %}
        
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourceexample" class="resource-url">
                <span class="resource-description">
                    <h2 class="resource-title">Add an example</h2>
                </span>
            </a>
        </li>
    </ul>
</section>
