<footer class="c-footer">

    <div class="c-footer__inner l-container">

        <div class="c-footer__top">

            <div class="c-btn-group">
                <a class="c-btn" href="https://github.com/maban/styleguides">Edit on GitHub</a>
                <a class="c-btn" href="/contributors">Contributors</a>
                <a class="c-btn" href="http://twitter.com/styleguidesio">Follow styleguidesio</a>
            </div><!-- end c-btn-group -->

        </div><!-- end c-footer__top -->

        <div class="c-footer__bottom">

            <h2 class="c-footer__heading">Credits</h2>

            <ul class="c-list">

                <li class="c-list__item">Favicon ice cream icon by <a href="http://thenounproject.com/term/ice-cream-cone/2378/">Simon Child</a></li>
                <li class="c-list__item">Article icon by <a href="http://thenounproject.com/term/article/16377/">Desbenoit</a></li>
                <li class="c-list__item">Presentation icon by <a href="http://thenounproject.com/term/presentation/14838/">Louie Greco</a></li>
                <li class="c-list__item">Book icon by <a href="http://thenounproject.com/term/book/1976/">Edward Boatman</a></li>
                <li class="c-list__item">Website icon by <a href="http://thenounproject.com/term/website/63346/">Wilson Joseph</a></li>
                <li class="c-list__item">Wrench icon by <a href="http://thenounproject.com/term/wrench/1320/">John Caserta</a></li>
                <li class="c-list__item">Microphone icon by <a href="http://thenounproject.com/term/microphone/2313/">Travis Yunis</a></li>
                <li class="c-list__item">Plus icon by <a href="http://thenounproject.com/term/plus/34653/">Alex Auda Samora</a></li>

            </ul><!-- end c-list -->

        </div><!-- end c-footer__bottom -->

    </div><!-- end c-footer__inner -->

</footer><!-- end c-footer -->
