<footer class="c-footer">

    <div class="c-footer__inner l-container">

        <div class="c-footer__top">

            <div class="c-btn-group">
                <a class="c-btn" href="https://github.com/maban/styleguides">Edit on GitHub</a>
                <a class="c-btn" href="/contributors">Contributors</a>
                <a class="c-btn" href="http://twitter.com/styleguidesio">Follow styleguidesio</a>
            </div><!-- end c-btn-group -->

        </div><!-- end c-footer__top -->

        <div class="c-footer__bottom">

            <h2 class="c-footer__heading">Credits</h2>

            <ul class="c-list">

                <li class="c-list__item">Favicon ice cream icon by <a href="http://thenounproject.com/term/ice-cream-cone/2378/">Simon Child</a></li>

            </ul><!-- end c-list -->

        </div><!-- end c-footer__bottom -->

    </div><!-- end c-footer__inner -->

</footer><!-- end c-footer -->
