<footer class="site-footer">

    <div class="wrapper">
        <p class="text"><a href="https://github.com/maban/styleguides">Edit on GitHub</a></p>
        <p class="text"><a href="https://github.com/maban/styleguides/graphs/contributors">Contributers</a></p>
        <h2>Credits</h2>
        <ul>
            <li>Favicon ice cream icon by <a href="http://thenounproject.com/term/ice-cream-cone/2378/">Simon Child</a></li>
            <li>Article icon by <a href="http://thenounproject.com/term/article/16377/">Desbenoit</a></li>
            <li>Presentation icon by <a href="http://thenounproject.com/term/presentation/14838/">Louie Greco</a></li>
            <li>Book icon by <a href="http://thenounproject.com/term/book/1976/">Edward Boatman</a></li>
            <li>Website icon by <a href="http://thenounproject.com/term/website/63346/">Wilson Joseph</a></li>
            <li>Wrench icon by <a href="http://thenounproject.com/term/wrench/1320/">John Caserta</a></li>
            <li>Microphone icon by <a href="http://thenounproject.com/term/microphone/2313/">Travis Yunis</a></li>
            <li>Plus icon by <a href="http://thenounproject.com/term/plus/34653/">Alex Auda Samora</a></li>
        </ul>
    </div>

  </div>

</footer>
