<section>

    <h1>Guides</h1>
    
    <p>Content/coding standards for a website</p>
    
    <ul class="resources resource-type-guide">
        {% assign guide = site.resourceguide | sort: 'status' %}
        {% for guide in guide reversed %}
        <li class="resource {{ guide.status }}">
            <a href="{{ guide.link }}" class="resource-url">
                <h2 class="resource-title">{{ guide.title }}</h2>
                {{ guide.content }}
                <p class="resource-author">By <strong>{{ guide.author }}</strong></p>
                <p class="resource-podcast">Type: <strong>{{ guide.type }}</strong></p>
            </a>
        </li>
        {% endfor %}
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourceguide" class="resource-url">
                <h2 class="resource-title">Add a guide</h2>
            </a>
        </li>
    </ul>

</section>