<header class="site-header">

    <div class="wrapper">



      <nav class="nav-sections">
          <ul>
              <li class="section-home">
                  <a href="{{ site.baseurl }}/">{{ site.title }}</a>
              </li>
              <li class="section-articles">
                  <a href="/articles">Articles</a>
              </li>
              <li class="section-books">
                  <a href="/books">Books</a>
              </li>
              <li class="section-podcasts">
                  <a href="/podcasts">Podcasts</a>
              </li>
              <li class="section-talks">
                  <a href="/talks">Talks</a>
              </li>
              <li class="section-tools">
                  <a href="/tools">Tools</a>
              </li>
              <li class="section-examples">
                  <a href="/examples">Examples</a>
              </li>
          </ul>
      </nav>

    </div>

</header>
