<header class="c-header">

    <div class="c-header__inner">

        <h2 class="c-header__title">
            <a class="c-header__title-link" href="/">{{ site.title }}</a>
        </h2><!--end c-header__title-->

        <nav class="c-primary-nav">

            <ul class="c-primary-nav__list">

                <li class="c-primary-nav__item">
                    <a class="c-primary-nav__link" href="/examples">Examples</a>
                </li><!-- end c-primary-nav__item-->
                <li class="c-primary-nav__item">
                    <a class="c-primary-nav__link" href="/articles">Resources</a>
                </li><!-- end c-primary-nav__item-->
                <li class="c-primary-nav__item">
                    <a class="c-primary-nav__link" href="/tools">Tools</a>
                </li><!-- end c-primary-nav__item-->
                <li class="c-primary-nav__item">
                    <a class="c-primary-nav__link" href="/podcast">Podcast</a>
                </li><!-- end c-primary-nav__item-->

            </ul><!-- end c-primary-nav__list -->

        </nav><!-- end c-primary-nav -->

    </div><!-- end c-header__inner -->

</header><!-- end c-header -->
