<header class="site-header">

    <div class="wrapper">



      <nav class="nav-sections">
          <ul>
              <li class="section-home">
                  <a href="{{ site.baseurl }}/">{{ site.title }}</a>
              </li>
              <li class="section-articles">
                  <a href="/articles.html">Articles</a>
              </li>
              <li class="section-books">
                  <a href="/books.html">Books</a>
              </li>
              <li class="section-podcasts">
                  <a href="/podcasts.html">Podcasts</a>
              </li>
              <li class="section-talks">
                  <a href="/talks.html">Talks</a>
              </li>
              <li class="section-tools">
                  <a href="/tools.html">Tools</a>
              </li>
              <li class="section-examples">
                  <a href="/examples.html">Examples</a>
              </li>
              <li class="section-podcast">
                  <a href="/podcast/index.html">Style Guide Podcast</a>
              </li>
          </ul>
      </nav>

    </div>

</header>
