<li class="resource {{ article.status }}">
    <a href="{{ article.link }}" class="resource-url">
        {% if page.type != "home" %}
            {% if article.image %}<img src="/images/screenshots/{{ article.image }}" alt="{{ article.image }}"/>{% endif %}
        {% elsif article.status == "recommended" %}
            {% if article.image %}<img src="/images/screenshots/{{ article.image }}" alt="{{ article.image }}"/>{% endif %}
        {% endif %}
        <span class="resource-description">
            <h2 class="resource-title">{{ article.title }}</h2>
            {{ article.content }}
            {% if article.author %}<p class="resource-author">By <strong>{{ article.author }}</strong></p>{% endif %}
            {% if article.publisher %}<p class="resource-publisher">Published on <strong>{{ article.site }}</strong></p>{% endif %}
        </span>
    </a>
</li>
