<li class="c-card-list__item {{ item.status }} {% for tags in item.tags %}{{ tags | downcase }} {% endfor %}" data-tags="{% for tags in item.tags %}{{ tags | downcase }} {% endfor %}">
    <div class="c-card">
        <span class="c-card__media">
            {% if item.image %}
            <img class="c-card__image lazy-load" data-src="/images/screenshots/{{ item.image }}" alt=""/>
            <noscript><img src="/images/screenshots/{{ item.image }}" /></noscript>
            {% endif %}
        </span>
        <div class="c-card__content">
            <a href="{{ item.link }}" class="c-card__link">
              <h2 class="c-card__title">{{ item.title }}</h2>
            </a>
            <p class="c-card__credit">
            {% if item.author %}<span class="c-card__author">By <strong>{{ item.author }}</strong> </span>{% endif %}
            {% if item.conference %}<span class="c-card__publisher">at <strong>{{ item.conference }}</strong></span>{% endif %}
            {% if item.dategiven %}<span class="c-card__date">on <strong>{{ item.dategiven }}</strong></span>{% endif %}
            </p>
            <span class="c-card__description">
                {{ item.content }}
            </span>
            {% if item.tags %}
            <div class="c-tags">
                <ul class="c-tags__list">
                    {% for tags in item.tags %}<li class="c-tags__item">{{ tags }}</li>{% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</li>
