<li class="resource {{ item.status }}" data-tags="{% for tags in item.tags %}{{ tags | downcase }} {% endfor %}">
    <a href="{{ item.link }}" class="resource-url">
        {% if page.type != "home" %}
            {% if item.image %}<img src="/images/screenshots/{{ item.image }}" alt="{{ item.title }}"/>{% endif %}
        {% elsif item.status == "recommended" %}
            {% if item.image %}<img src="/images/screenshots/{{ item.image }}" alt="{{ item.title }}"/>{% endif %}
        {% endif %}
        <span class="resource-description">
            <h2 class="resource-title">{{ item.title }}</h2>

            {{ item.content }}

            {% if item.author %}<p class="resource-author">{{ item.author }}</p>{% endif %}

            {% if item.site %}<p class="resource-site">{{ item.site }}</p>{% endif %}

            {% if item.tags %}
                <ul class="resource-tags">
                    {% for tags in item.tags %}
                        <li>{{ tags }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </span>
    </a>
</li>
