<li class="resource {{ talk.status }}">
    <a href="{{ talk.link }}" class="resource-url">
        {% if page.type != "home" %}
            {% if talk.image %}<img src="/images/screenshots/{{ talk.image }}" alt=""/>{% endif %}
        {% elsif talk.status == "recommended"%}
            {% if talk.image %}<img src="/images/screenshots/{{ talk.image }}" alt=""/>{% endif %}
        {% endif %}
        <span class="resource-description">
            <h2 class="resource-title">{{ talk.title }}</h2>
            {{ talk.content }}
            {% if talk.author %}<p class="resource-author">By <strong>{{ talk.author }}</strong></p>{% endif %}
            {% if talk.conference %}<p class="resource-publisher">At <strong>{{ talk.conference }}</strong></p>{% endif %}
        </span>
    </a>
</li>
