<section>

    <h1><a href="podcasts.html">Podcasts</a></h1>

    <p>Episodes from various podcasts where style guides are discussed</p>

    <ul class="resources resource-type-podcast">

        {% assign podcast = site.resourcepodcast | sort: 'title' %}

        {% for podcast in podcast %}
        {% if podcast.status == 'recommended' %}
        {% include loop-podcast.html %}
        {% endif %}
        {% endfor %}

        {% for podcast in podcast %}
        {% if podcast.status == null %}
        {% include loop-podcast.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}

    </ul>

</section>
