<section class="c-section">
    <div class="c-btn-group c-btn-group--center">
        <a class="c-btn" href="https://itunes.apple.com/gb/podcast/the-style-guide-podcast/id960374773">
            <svg class="c-btn__icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>Group</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Group" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)">
                        <circle id="Oval-1" stroke="#FFFFFF" stroke-width="2" sketch:type="MSShapeGroup" cx="9" cy="9" r="9"></circle>
                        <rect id="Rectangle-21" fill="#FFFFFF" sketch:type="MSShapeGroup" x="4.42857143" y="11.6666667" width="3.04761905" height="2.28571429" rx="8"></rect>
                        <path d="M7.28639934,4.15392064 L12.2374102,3.36988917 C12.9741682,3.21820372 12.8095238,3.88416634 12.8095238,4.61904762 C12.8095238,5.35542729 12.9737723,5.88495189 12.2374102,6.03655583 L7.4761905,6.71428555 C6.73943249,6.86597099 6.71428571,6.49678606 6.71428571,5.76190478 C6.71428571,5.02552512 6.5500372,4.30552458 7.28639934,4.15392064 Z" id="Rectangle-25" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                        <rect id="Rectangle-22" fill="#FFFFFF" sketch:type="MSShapeGroup" x="9.76190476" y="10.5238095" width="3.04761905" height="2.28571429" rx="8"></rect>
                        <rect id="Rectangle-23" fill="#FFFFFF" sketch:type="MSShapeGroup" x="6.71428571" y="5.19047619" width="0.761904762" height="7.61904762"></rect>
                        <rect id="Rectangle-30" fill="#FFFFFF" sketch:type="MSShapeGroup" x="12.047619" y="4.04761905" width="0.761904762" height="7.61904762"></rect>
                        <path d="M5.95238095,11.6666667 C5.95238095,11.6666667 6.71428571,11.6666667 6.71428571,11.2857143 C6.71428571,10.9047619 6.9047619,11.8571428 6.9047619,11.8571428 L5.95238095,11.6666667 Z" id="Path-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                        <path d="M11.2857143,10.5238095 C11.2857143,10.5238095 12.047619,10.5238095 12.047619,10.1428571 C12.047619,9.76190476 12.4285714,10.3333333 12.4285714,10.3333333 L11.8571429,11.2857143 L11.2857143,10.5238095 Z" id="Path-3" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
            <span class="c-btn__text">Subscribe in iTunes</span>
        </a>
        <a class="c-btn subscribe" href="http://feeds.soundcloud.com/users/soundcloud:users:134239947/sounds.rss">
            <svg class="c-btn__icon" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                <title>feed-white</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="feed-white" transform="translate(-12.000000, 2.000000)">
                        <circle id="Oval-4" stroke="#FFFFFF" stroke-width="3.22313988" cx="13" cy="13" r="7"></circle>
                        <ellipse id="Path" stroke="#000000" stroke-width="2.49999952" cx="13.5" cy="11.754386" rx="1" ry="1"></ellipse>
                        <circle id="Oval-8" fill="#FFFFFF" fill-rule="nonzero" cx="13.5" cy="12.5" r="2.5"></circle>
                        <circle id="Oval-5" stroke="#FFFFFF" stroke-width="3.22313988" cx="13" cy="13" r="13"></circle>
                    </g>
                </g>
            </svg>
            <span class="c-btn__text">Get the feed</span>
        </a>
    </div>
</section>
