<section>

    <h1>Podcasts</h1>
    
    <p>Episodes from various podcasts where style guides are discussed</p>
    
    <ul class="resources resource-type-podcast">
        
        {% assign podcast = site.resourcepodcast | sort: 'status' %}
        
        {% for podcast in podcast reversed %}
        <li class="resource {{ podcast.status }}">
            <a href="{{ podcast.link }}" class="resource-url">
                <span class="resource-description">
                    <h2 class="resource-title">{{ podcast.title }}</h2>
                    {{ podcast.content }}
                    {% if podcast.people %}<p class="resource-author">With <strong>{{ podcast.people }}</strong></p>{% endif %}
                    {% if podcast.podcast %}<p class="resource-podcast">On <strong>{{ podcast.podcast }}</strong></p>{% endif %}
                </span>
                {% if podcast.image %}<img src="/images/screenshots/{{ podcast.image }}"/>{% endif %}
            </a>
        </li>
        {% endfor %}
        
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcepodcast" class="resource-url">
                <span class="resource-description">
                    <h2 class="resource-title">Add a podcast</h2>
                </span>
            </a>
        </li>
        
    </ul>

</section>