<section>

    <h1><a href="talks.html">Talks</a></h1>

    <p>Conference presentations about style guides</p>

      {% assign section = site.resourcetalk | sort: 'title'  %}
      {% include tags.html %}

    <ul class="resources resource-type-talk">

        {% for item in section %}
        {% if item.status == 'recommended' %}
        {% include loop-talk.html %}
        {% endif %}
        {% endfor %}

        {% for item in section %}
        {% if item.status == null %}
        {% include loop-talk.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}

    </ul>

</section>
