<section>

    <h1>Talks</h1>
    
    <p>Conference presentations about style guides</p>
    
    <ul class="resources resource-type-talk">
        
        {% assign talk = site.resourcetalk | sort: 'status' %}
        
        {% for talk in talk reversed %}
        <li class="resource {{ talk.status }}">
            <a href="{{ talk.link }}" class="resource-url">
                {% if page.type != "home" %}
                    {% if talk.image %}<img src="/images/screenshots/{{ talk.image }}" alt="{{ talk.title }}"/>{% endif %}
                {% elsif talk.status == "recommended"%}
                    {% if talk.image %}<img src="/images/screenshots/{{ talk.image }}" alt="{{ talk.title }}"/>{% endif %}
                {% endif %}
                <span class="resource-description">
                    {% if talk.image == null or page.title == "Style Guides" %}
                        <h2 class="resource-title">{{ talk.title }}</h2>
                    {% else %}
                        <h2 class="resource-title hidden">{{ talk.title }}</h2>
                    {% endif %}
                    {{ talk.content }}
                    {% if talk.author %}<p class="resource-author">By <strong>{{ talk.author }}</strong></p>{% endif %}
                    {% if talk.conference %}<p class="resource-publisher">At <strong>{{ talk.conference }}</strong></p>{% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
        
        <li class="resource resource-add">
            <a href="https://github.com/maban/styleguides/tree/gh-pages/_resourcetalk" class="resource-url">
                <span class="resource-description">
                    <h2 class="resource-title">Add a talk</h2>
                </span>
            </a>
        </li>
        
    </ul>

</section>
