<section>

    <h1><a href="talks.html">Talks</a></h1>

    <p>Conference presentations about style guides</p>

    <ul class="resources resource-type-talk">

        {% assign talk = site.resourcetalk | sort: 'title'  %}

        {% for talk in talk %}
        {% if talk.status == 'recommended' %}
        {% include loop-talk.html %}
        {% endif %}
        {% endfor %}

        {% for talk in talk %}
        {% if talk.status == null %}
        {% include loop-talk.html %}
        {% endif %}
        {% endfor %}

        {% include add.html %}

    </ul>

</section>
