.button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
    font-weight: normal;
    margin: 0.25em;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.page-content .button,
.template-podcast .page-content .button {
    background-color: $color-4;
    color: #fff;
    border: none;
    &:hover,
    &:focus {
        background-color: $color-4-darken;
    }
}

.site-footer .button {
    border: none;
}

.site-footer .button-github {
    float: right
}

.button.disabled {
    opacity: 0.5;
    background-color: #ccc!important;
    &:hover,
    &:focus {
        background-color: #ccc!important;
    }
}

.link-view-more,
.link-view-more:link,
.link-view-more:visited,
.link-view-more:hover,
.link-view-more:focus,
.link-view-more:active {
  text-align: center;
  margin: 0 auto;
  background-color: #434343;
  color: #fff;
  padding: 0.5em 1em;
  display: table;
  clear: both;
  margin-bottom: 2em;
  text-decoration: none;
  border-radius: 0.1em;
}

.link-view-more:hover,
.link-view-more:focus,
.link-view-more:active {
  background-color: #333;
}
