// ----------------------------------------------
// Filter by tags

[data-toggle='on'] {
    display:block;
}

[data-toggle='off'] {
    display:none;
}

.filters {
    margin-bottom:1.5em;
}

.filters button {
    font-size:13px;
}
