section {
    clear: both;
}

abbr {
    border-bottom: 1px dotted #888;
}

section + section {
  margin-top: 2em;

  &:before {
    content: "";
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
  border-top: 2px solid #ccc;
  }
}

.small {
    font-size: 0.85em;
}

#total-resource-count {
  font-size: 1.5em;
  display: block;
  min-height: 1.5em;
}

.hidden {
    /* technique via http://webaim.org/techniques/css/invisiblecontent/ */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.media-player {
  margin: 2em 0;
}

.site-header .wrapper {
        padding: 0;
}

.lede {
    text-align: center;
}

.timestamp {
    font-size: 14px;
    color: #888;
    padding: 0 0 1em;
    display: block;
    text-align: right;
}

.fancy {
    font-size: 32px;
    font-family: baskerville;
    font-style: italic;
    color: #888;
    vertical-align: text-bottom;
    display: inline-block;
}

.credits {
    font-size: 0.85em;
    ul {
        margin-left: 0;
    }
}

.title {
  margin: 0;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0.25em;
}

.link-add {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #424242;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  position: fixed;
bottom: 0.5em;
right: 0.5em;
  font-size: 1.5em;
  @media (min-width: 800px) {
    bottom: 1em;
    right: 1em;
  }

  &:after {
    content: "+";
    display: block;
    width: 50px;
    text-align: center;

  }
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  .link-add__text {
    @extend .hidden;
  }
  .template-podcasts & {
    background-color: $color-1-darken;
  }
  .template-books & {
    background-color: $color-2-darken;
  }
  .template-articles & {
    background-color: $color-3-darken;
  }
  .template-examples & {
    background-color: $color-4-darken;
  }
  .template-tools & {
    background-color: $color-6-darken;
  }
  .template-talks & {
    background-color: $color-7-darken;
  }
}


.list--inline {
  margin: 1em auto 0;
  text-align: center;
  .list__item {
    display: inline-block;
    padding: 0 1em;
    list-style: none;
  }
}
