p {
    font-size: 18px;
}

section {
    clear: both;
}

.resources {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.resource {
    margin: 0 0 20px 0;
    font-size: 15px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    transition: 0.2s;
    position: relative;
    &:hover,
    &:focus {
        text-decoration: none;
        -webkit-transform: scale(1.05,1.05);
        
    }
    p {
        font-size: 15px;
    }
}

.resource-url:link,
.resource-url:visited,
.resource-url:hover,
.resource-url:focus,
.resource-url:active {
    background-color: #fff;
    padding: 10px 20px;
    display: block;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    border-radius: 0 0 3px 3px;
}

.resource-type-article {

}

.resource-title {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 24px;
}

.resource-author,
.resource-publisher,
.resource-language {
    margin: 0;
}

.resource-type-article .resource,
.resource-type-book .resource,
.resource-type-example .resource,
.resource-type-talk .resource,
.resource-type-tool .resource,
.resource-type-podcast .resource,
.resource-type-guide .resource,
.resource-type-tool .resource-add {
    padding-top: 35px;
    border-radius: 3px;
    background-size: 21px;
    background-position: 98% 8px;
    background-repeat: no-repeat;
}


.resource-type-article .resource {
    background-color: #9DEAA1;
    background-image: url("/images/icons/article/article.png");
    background-image: url("/images/icons/article/article.svg");
    background-size: 23px;
    background-position: 98% 6px;
    &:hover,
    &:focus {
        background-color: #7BD880;
    }
}

.resource-type-book .resource {
    background-color: #E4DD97;
    background-image: url("/images/icons/book/book.png");
    background-image: url("/images/icons/book/book.svg");
    background-size: 17px;
    background-position: 98% 6px;
    &:hover,
    &:focus {
        background-color: #E2D76D;
    }
}

.resource-type-example .resource {
    background-color: #80e5e5;
    background-image: url("/images/icons/website/website.png");
    background-image: url("/images/icons/website/website.svg");
    background-size: 34px;
    background-position: 98% 1px;
    &:hover,
    &:focus {
        background-color: #50C8C8;
    }
}

.resource-type-guide .resource {
    background-color: #A3C0F5;
    background-image: url("/images/icons/glasses/glasses.png");
    background-image: url("/images/icons/glasses/glasses.svg");
    background-size: 37px;
    background-position: 98% 13px;
    &:hover,
    &:focus {
        background-color: #75A1F0;
    }
}

.resource-type-talk .resource {
    background-color: #EFB7D3;
    background-image: url("/images/icons/presentation/presentation.png");
    background-image: url("/images/icons/presentation/presentation.svg");
    background-size: 29px;
    background-position: 98% 4px;
    &:hover,
    &:focus {
        background-color: #EFA0C8;
    }
}

.resource-type-tool .resource {
    background-color: #C0B8EF;
    background-image: url("/images/icons/wrench/wrench.png");
    background-image: url("/images/icons/wrench/wrench.svg");
    background-size: 22px;
    background-position: 98% 7px;
    &:hover,
    &:focus {
        background-color: #958CCB;
    }
}

.resource-type-podcast .resource {
    background-color: #F4CB94;
    background-image: url("/images/icons/podcast/podcast.png");
    background-image: url("/images/icons/podcast/podcast.svg");
    background-size: 22px;
    background-position: 98% 7px;
    &:hover,
    &:focus {
        background-color: #E0AC65;
    }
}

.resources .resource-add {
    background-image: url("/images/icons/add/add.png");
    background-image: url("/images/icons/add/add.svg");
    background-size: 22px;
    background-position: 98% 7px;
    opacity: 0.55;
    max-width: 250px;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.recommended:before {
    content: "★ Recommended";
    position: absolute;
    top: -1px;
    left: 18px;
    font-size: 13px;
    background-color: #FAF97B;
    padding: 3px 6px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.4), 
                0px 1px 0px rgba(0,0,0,0.2);
}

@media (min-width: 600px) {
    .resources {
        float: left;
        clear: both;
        width: 100%;
    }
    
    .resource {
        float: left;
        width: 48%;
        margin-right: 4%;
    }
    
    .resource:nth-child(even) {
        margin-right: 0;
    }
    .resource:nth-child(2n+3) {
        clear: both;
    }
}

@media (min-width: 1000px) {
    
    .resource {
        float: left;
        width: 32%;
        margin-right: 2%;
    }
    
    .resource:nth-child(even) {
        margin-right: 2%;
    }
    
    .resource:nth-child(2n+3) {
        clear: none;
    }
    
    .resource:nth-child(3n+3) {
        margin-right: 0;
    }
    
    .resource:nth-child(3n+4) {
        clear: both;
    }
}