section {
    clear: both;
}

.resources {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.resource {
    margin: 0 0 20px 0;
    font-size: 15px;
}

.resource-url {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    padding: 10px 20px;
    display: block;
    border-radius: 3px;
    transition: 0.2s;
    color: #333;
    &:hover,
    &:focus {
        text-decoration: none;
        color: #333;
        -webkit-transform: scale(1.05,1.05);
        
    }
}

.resource-type-article {

}

.resource-title {
    margin-bottom: 2px;
    font-size: 22px;
}

.resource-author,
.resource-publisher,
.resource-language {
    margin: 0;
}

@media (min-width: 600px) {
    .resources {
        float: left;
        clear: both;
        width: 100%;
    }
    
    .resource {
        float: left;
        width: 48%;
        margin-right: 4%;
    }
    
    .resource:nth-child(even) {
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    
    .resource {
        float: left;
        width: 32%;
        margin-right: 2%;
    }
    
    .resource:nth-child(even) {
        margin-right: 2%;
    }
    
    .resource:nth-child(3n+3) {
        margin-right: 0;
    }
}