.nav-sections {
    clear: both;
    width: 100%;
    @media (min-width: 800px) {
        clear: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 800px) {
          justify-content: flex-start;
        }
    }

    li {
        margin: 0;
        padding: 0;
        display: flex;
        border-bottom: 5px solid #424242;
        min-width: 3em;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        @media (min-width: 800px) {
          float: left;
          background-image: none!important;
        }
    }
    a {
        text-indent: -9999px;
        display: block;
        padding: 15px 15px 10px 15px;
        color: #fff;
        border-bottom: 5px solid #424242;
        width: 100%;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        @media (min-width: 800px) {
          text-indent: 0;
        }
    }

    .section-home {
      width: 100%;
      text-align: center;
      @media (min-width: 500px) {
        width: auto;
        text-align: left;
        flex: 1;
      }
        a {
          text-indent: 0;
        }
    }

    .section-podcasts {
        border-bottom-color: $color-1;
        background-image: url('/images/icons/podcast/podcast--inverse.svg');
        background-size: 20px;
    }

    .section-books {
        border-bottom-color: $color-2;
        background-image: url('/images/icons/book/book--inverse.svg');
        background-size: 22px;
    }

    .section-articles {
        border-bottom-color: $color-3;
        background-image: url('/images/icons/article/article--inverse.svg');
        background-size: 22px;
    }

    .section-examples {
        border-bottom-color: $color-5;
        background-image: url('/images/icons/website/website--inverse.svg');
        background-size: 40px;
    }

    .section-tools {
        border-bottom-color: $color-6;
        background-image: url('/images/icons/wrench/wrench--inverse.svg');
    }

    .section-talks {
        border-bottom-color: $color-7;
        background-image: url('/images/icons/presentation/presentation--inverse.svg');
    }

}

.nav-sections .section-podcasts:hover,
.nav-sections .section-podcasts:focus,
.nav-sections .section-podcasts:hover a,
.nav-sections .section-podcasts:focus a,
.template-podcasts .section-podcasts,
.template-podcasts .section-podcasts a {
    border-color: $color-1;
}

.nav-sections .section-books:hover,
.nav-sections .section-books:focus,
.nav-sections .section-books:hover a,
.nav-sections .section-books:focus a,
.template-books .section-books,
.template-books .section-books a {
    border-color: $color-2;
}

.nav-sections .section-articles:hover,
.nav-sections .section-articles:focus,
.nav-sections .section-articles:hover a,
.nav-sections .section-articles:focus a,
.template-articles .section-articles,
.template-articles .section-articles a {
    border-color: $color-3;
}

.nav-sections .section-podcast:hover,
.nav-sections .section-podcast:focus,
.nav-sections .section-podcast:hover a,
.nav-sections .section-podcast:focus a,
.template-podcast .section-podcast,
.template-podcast .section-podcast a {
    border-color: $color-4;
}

.nav-sections .section-examples:hover,
.nav-sections .section-examples:focus,
.nav-sections .section-examples:hover a,
.nav-sections .section-examples:focus a,
.template-examples .section-examples,
.template-examples .section-examples a {
    border-color: $color-5;
}

.nav-sections .section-tools:hover,
.nav-sections .section-tools:focus,
.nav-sections .section-tools:hover a,
.nav-sections .section-tools:focus a,
.template-tools .section-tools,
.template-tools .section-tools a {
    border-color: $color-6;
}

.nav-sections .section-talks:hover,
.nav-sections .section-talks:focus,
.nav-sections .section-talks:hover a,
.nav-sections .section-talks:focus a,
.template-talks .section-talks,
.template-talks .section-talks a {
    border-color: $color-7;
}
