.resources {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.resource {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 2px;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 2em;
  font-size: 0.8em;
  position: relative;
  word-wrap: break-word;
  @media (min-width: 550px) {
    width: calc(50% - 1.5em);
    margin-right: 1.5em;
  }
  @media (min-width: 800px) {
    width: calc(33.333% - 1.5em);
  }
  @media (min-width: 1200px) {
    width: calc(25% - 1.5em);
  }
}

.episodes .resource {
  display: flex;
  width: 100%;
  .resource__description {
    width: 65%;
    box-sizing: border-box;
  }
  .resource__image {
    width: 35%;
  }
  @media (min-width: 500px) {
    width: calc(50% - 1.5em);
    margin-right: 1.5em;
    display: block;
    .resource__description {
      width: 100%;
    }
    .resource__image {
      width: 100%;
    }
  }
  @media (min-width: 600px) {
    width: calc(33.333% - 1.5em);
  }
  @media (min-width: 850px) {
    width: calc(25% - 1.5em);
  }
  @media (min-width: 1100px) {
    width: calc(20% - 1.5em);
  }
  @media (min-width: 1300px) {
    width: calc(16.666% - 1.5em);
  }
  @media (min-width: 1500px) {
    width: calc(14.285% - 1.5em);
  }
}

.episodes--mini {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.episodes--mini .episode {
  width: 80px;
  border: none;
  background-color: transparent;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  .episode__image {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ededed;
    min-height: inherit;
  }
  @media (min-width: 500px) {
    display: block;
    .episode__description {
      width: 100%;
    }
    .episode__image {
      width: 100%;
    }
  }
}

.resource.recommended:after {
  content: "★";
  position: absolute;
  top: -1px;
  right: 0.3em;
  padding: 0.3em 0.5em;
  display: block;
  background-color: #fff;
}

.resource__number {
  position: absolute;
  top: -1px;
  left: 0.3em;
  padding: 0.3em 0.5em;
  min-width: 1em;
  text-align: center;
  display: block;
  background-color: $color-4;
  font-size: 1.5em;
  color: #fff;
}

.resource__image {
  background-color: #F1F1F1;
  min-height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.resource__description {
  padding: 1em;
  display: block;

  & > *:last-child {
    margin-bottom: 0;
  }
}

.resource__title {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  line-height: 1.25;
}

.resource__description__credit {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.resource__description__content {
}



.resource-type-podcast {
  .resource__image {
    background-image: url('/images/icons/podcast/podcast-faded.svg');
    background-size: 40px;
  }
  .resource.recommended:after {
    background-color: $color-1;
  }
}

.resource-type-book {
  .resource__image {
    background-image: url('/images/icons/book/book-faded.svg');
  }
  .resource.recommended:after {
    background-color: $color-2;
  }
}

.resource-type-article {
  .resource__image {
    background-image: url('/images/icons/article/article-faded.svg');
  }
  .resource.recommended:after {
    background-color: $color-3;
  }
}

.resource-type-example {
  .resource__image {
    background-image: url('/images/icons/website/website-faded.svg');
    background-size: 100px;
  }
  .resource.recommended:after {
    background-color: $color-4;
  }
}

.resource-type-tool {
  .resource__image {
    background-image: url('/images/icons/wrench/wrench-faded.svg');
  }
  .resource.recommended:after {
    background-color: $color-6;
  }
}

.resource-type-talk {
  .resource__image {
    background-image: url('/images/icons/presentation/presentation-faded.svg');
    background-size: 80px;
  }
  .resource.recommended:after {
    background-color: $color-7;
  }
}



.resource__description__tags {
  margin: 1em 0 0 0;
}

.resource__description__tags__item {
  padding: 0;
  font-size: 0.8em;
  list-style-type: none;
  display: inline-block;
  padding: 0.1em 0.5em 0.05em;
  background-color: #ccc;
  border-radius: 2px;
  margin-right: 0.5em;
}
