/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * Font family
 */
$base-font-family: 'Karla', Helvetica, Arial, sans-serif;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

/**
 * Font size
 */
$font-size-tiny: 0.75rem;
$font-size-tiny-2: 0.875rem;
$font-size-small: 1rem;
$font-size-med: 1.125rem;
$font-size-med-2: 2rem;
$font-size-large: 3rem;
$font-size-xl: 5rem;

/**
 * Line Height
 */
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #ced4da;
$background-color: #000000;
$color-brand-blue: #15aabf;
$color-brand-blue-light: #66d9e8;

$color-white: #fff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$color-dim-80: rgba(250, 250, 250, 0.8);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$anim-fade-quick: 0.2s;
$anim-ease: ease;

$l-max-width-narrow: 44rem;

/**
 * Breakpoints
 */
$bp-small : 24rem;
$bp-small-2 : 29.75rem;
$bp-small-3 : 39.75rem;
$bp-med : 46rem;
$bp-med-2 : 48rem;
$bp-large : 55rem;
$bp-large-2 : 66rem;
$bp-xl : 79rem;
$bp-xxl : 89rem;
$bp-xxxl : 93rem;
