/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * Font family
 */
$base-font-family: 'Karla', Helvetica, Arial, sans-serif;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

/**
 * Font size
 */
$font-size-tiny: 0.75rem;
$font-size-tiny-2: 0.875rem;
$font-size-small: 1rem;
$font-size-med: 1.125rem;
$font-size-med-2: 2rem;
$font-size-large: 3rem;
$font-size-xl: 5rem;

/**
 * Line Height
 */
$base-line-height: 1.5;

/**
 * Brand colors
 */
$text-color:       #ced4da;
$color-brand-blue: #15aabf;
$color-brand-blue-light: #66d9e8;

/**
 * Neutral colors
 */
$color-white: #fff;
$color-gray-02: #f9f9f9;
$color-gray-07: #eee;
$color-gray-13: #ddd;
$color-gray-15: #d9d9d9;
$color-gray-27: #bbb;
$color-gray-39: #9c9c9c;
$color-gray-50: #808080;
$color-gray-60: #666;
$color-gray-73: #444;
$color-gray-93: #131313;
$color-black: #000000;

/**
 * Neutral dim colors
 */
$color-dim-80: rgba(250, 250, 250, 0.8);

/**
 * Transition duration
 */
$anim-fade-quick: 0.2s;

/**
 * Transition timing function
 */
$anim-ease: ease;

/**
 * Widths
 */
$l-max-width-narrow: 44rem;

/**
 * Breakpoints
 */
$bp-small : 24rem;
$bp-small-2 : 29.75rem;
$bp-small-3 : 39.75rem;
$bp-med : 46rem;
$bp-med-2 : 48rem;
$bp-large : 55rem;
$bp-large-2 : 66rem;
$bp-xl : 79rem;
$bp-xxl : 89rem;
$bp-xxxl : 93rem;
