/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin bottom none
 * 1) Force margin bottom of 0
 */
.u-margin-bottom-none {
	margin-bottom: 0 !important;
}

/**
 * Margin bottom small
 * 1) Force margin bottom of 0.5rem
 */
.u-margin-bottom-small {
	margin-bottom: 0.5rem !important;
}

/**
 * Margin bottom
 * 1) Force margin bottom of 1rem
 */
.u-margin-bottom {
	margin-bottom: 1rem !important;
}

/**
 * Margin bottom large
 * 1) Force margin bottom of 2rem
 */
.u-margin-bottom-large {
	margin-bottom: 2rem!important;
}

/**
 * Margin top none
 * 1) Force margin top of 0
 */
.u-margin-top-none {
	margin-top: 0 !important;
}

/**
 * Margin top small
 * 1) Force margin top of 0.5rem
 */
.u-margin-top-small {
	margin-top: 0.5rem !important;
}

/**
 * Margin top
 * 1) Force margin top of 1rem
 */
.u-margin-top {
	margin-top: 1rem !important;
}

/**
 * Margin top large
 * 1) Force margin top of 2rem
 */
.u-margin-top-large {
	margin-top: 2rem!important;
}

/**
 * Margin right none
 * 1) Force margin right of 0
 */
.u-margin-right-none {
	margin-right: 0 !important;
}

/**
 * Margin right small
 * 1) Force margin right of 0.5rem
 */
.u-margin-right-small {
	margin-right: 0.5rem !important;
}

/**
 * Margin right
 * 1) Force margin right of 1rem
 */
.u-margin-right {
	margin-right: 1rem !important;
}

/**
 * Margin right large
 * 1) Force margin right of 2rem
 */
.u-margin-right-large {
	margin-right: 2rem!important;
}

/**
 * Margin left none
 * 1) Force margin left of 0
 */
.u-margin-left-none {
	margin-left: 0 !important;
}

/**
 * Margin left small
 * 1) Force margin left small
 */
.u-margin-left-small {
	margin-left: 0.5rem !important;
}

/**
 * Margin left
 * 1) Force margin left
 */
.u-margin-left {
	margin-left: 1rem !important;
}

/**
 * Margin left large
 * 1) Force margin left large
 */
.u-margin-left-large {
	margin-left: 2rem!important;
}

/**
 * Center display block contents
 */
.u-margin-center {
	margin: 0 auto !important;
}

/**
 * Padding none
 */
.u-padding-none {
	padding: 0 !important;
}

/**
 * Padding small
 */
.u-padding-small {
	padding: 0.5rem !important;
}

/**
 * Padding
 */
.u-padding {
	padding: 1rem !important;
}

/**
 * Padding large
 */
.u-padding-large {
	padding: 2rem!important;
}

/**
 * Padding top none
 */
.u-padding-top-none {
	padding-top: 0 !important;
}

/**
 * Padding top small
 */
.u-padding-top-small {
	padding-top: 0.5rem !important;
}

/**
 * Padding top
 */
.u-padding-top {
	padding-top: 1rem !important;
}

/**
 * Padding top large
 */
.u-padding-top-large {
	padding-top: 2rem!important;
}

/**
 * Padding bottom none
 */
.u-padding-bottom-none {
	padding-bottom: 0 !important;
}

/**
 * Padding bottom small
 */
.u-padding-bottom-small {
	padding-bottom: 0.5rem !important;
}

/**
 * Padding bottom
 */
.u-padding-bottom {
	padding-bottom: 1rem !important;
}

/**
 * Padding bottom large
 */
.u-padding-bottom-large {
	padding-bottom: 2rem!important;
}

/**
 * Padding right none
 */
.u-padding-right-none {
	padding-right: 0 !important;
}

/**
 * Padding right small
 */
.u-padding-right-small {
	padding-right: 0.5rem !important;
}

/**
 * Padding right
 */
.u-padding-right {
	padding-right: 1rem !important;
}

/**
 * Padding right large
 */
.u-padding-right-large {
	padding-right: 2rem!important;
}

/**
 * Padding left none
 */
.u-padding-left-none {
	padding-left: 0 !important;
}

/**
 * Padding left small
 */
.u-padding-left-small {
	padding-left: 0.5rem !important;
}

/**
 * Padding left
 */
.u-padding-left {
	padding-left: 1rem !important;
}

/**
 * Padding left large
 */
.u-padding-left-large {
	padding-left: 2rem!important;
}
