.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.l-container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
}


.l-container--narrow {
    max-width: $l-max-width-narrow;
}

.l-grid {
    display: flex;
    margin: 0 -1rem;

    @supports (display: grid) {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        margin: 0;
    }
}

.l-grid--2up {
    @supports (display: grid) {
        @media all and (min-width: $bp-med) {
            grid-template-columns: 1fr 1fr;
        }
    }
}


.l-grid--3up {
    @supports (display: grid) {
        @media all and (min-width: $bp-med) {
            grid-template-columns: 1fr 1fr;
        }

        @media all and (min-width: $bp-large) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.l-grid--4up {
    @supports (display: grid) {
        @media all and (min-width: $bp-med) {
            grid-template-columns: 1fr 1fr;
        }

        @media all and (min-width: $bp-large-2) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media all and (min-width: $bp-xxl) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.l-grid__item {

    .l-grid--fill-space & {
        display: flex;
        flex-direction: column;
    }

    .l-grid--3up & {
        @media all and (min-width: $bp-med) {
            width: 50%;
        }

        @supports (display: grid) {
            width: 100%;
        }
    }

    .l-grid--3up & {
        @media all and (min-width: $bp-med) {
            width: 50%;
        }

        @media all and (min-width: $bp-large) {
            width: 33.33%;
        }

        @supports (display: grid) {
            width: 100%;
        }
    }

    .l-grid--4up & {
        @media all and (min-width: $bp-med) {
            width: 50%;
        }

        @media all and (min-width: $bp-large-2) {
            width: 33.33%;
        }

        @media all and (min-width: $bp-xxl) {
            width: 25%;
        }

        @supports (display: grid) {
            width: 100%;
        }
    }
}
