/*------------------------------------*\
    #AVATAR LIST
\*------------------------------------*/

/**
 * Avatar List
 */

.c-avatar-list {
  display: flex;
  justify-content: center;
  margin: 0 0 1.5em 0;
  flex-wrap: wrap;
}
