.c-card-list__item {
    position: relative;
}

.c-card-list__item.recommended:after {
    content: "★";
    position: absolute;
    top: -1px;
    right: 0.3em;
    padding: 0.3em 0.5em;
    display: block;
    background-color: $color-white;
}

.resource-type-podcast {
    .c-card__media {
        background-image: url('/images/icons/podcast/podcast-faded.svg');
        background-size: 40px;
    }
    .c-card-list__item.recommended:after {
        background-color: $color-1;
    }
}

.resource-type-book {
    .c-card__media {
        background-image: url('/images/icons/book/book-faded.svg');
    }
    .c-card-list__item.recommended:after {
        background-color: $color-brand-blue;
        color: $color-white;
    }
}

.resource-type-article {
    .c-card__media {
        background-image: url('/images/icons/article/article-faded.svg');
    }
    .c-card-list__item.recommended:after {
        background-color: $color-brand-blue;
        color: $color-white;
    }
}

.resource-type-example {
    .c-card__media {
        background-image: url('/images/icons/website/website-faded.svg');
        background-size: 100px;
    }
    .c-card-list__item.recommended:after {
        background-color: $color-brand-blue;
        color: $color-white;
    }
}

.resource-type-tool {
    .c-card__media {
        background-image: url('/images/icons/wrench/wrench-faded.svg');
    }
    .c-card-list__item.recommended:after {
        background-color: $color-6;
    }
}

.resource-type-talk {
    .c-card__media {
        background-image: url('/images/icons/presentation/presentation-faded.svg');
        background-size: 80px;
    }
    .c-card-list__item.recommended:after {
        background-color: $color-brand-blue;
        color: $color-white;
    }
}
