/*------------------------------------*\
    #CARD LIST
\*------------------------------------*/

/**
 * Card list item
 */
.c-card-list__item {
    position: relative;
}

/**
 * Recommended card list item after pseudoelement
 * 1) Star placed within the card
 */
.c-card-list__item.recommended:after {
    content: "★";
    position: absolute;
    top: -1px;
    right: 0.3em;
    padding: 0.3em 0.5em;
    display: block;
    background-color: $color-brand-blue;
    color: $color-white;
}
