/*------------------------------------*\
    #EPISODES
\*------------------------------------*/

.episodes {
  justify-content: center;
 .c-card-list__item {
    display: flex;
    width: 100%;
    .c-card__content {
      width: 65%;
      box-sizing: border-box;
    }
    .c-card__media {
      width: 35%;
    }
    @media (min-width: 500px) {
      width: calc(50% - 1.5em);
      margin-left: 0.75em;
      margin-right: 0.75em;
      display: block;
      .c-card__content {
        width: 100%;
      }
      .c-card__media {
        width: 100%;
      }
    }
    @media (min-width: 600px) {
      width: calc(33.333% - 1.5em);
    }
    @media (min-width: 850px) {
      width: calc(25% - 1.5em);
    }
    @media (min-width: 1100px) {
      width: calc(20% - 1.5em);
    }
    @media (min-width: 1300px) {
      width: calc(16.666% - 1.5em);
    }
    @media (min-width: 1500px) {
      width: calc(14.285% - 1.5em);
    }
  }
}

.episodes--mini {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  margin-top: 0;
  list-style: none;
}

.episodes--mini .episode {
  width: 80px;
  border: none;
  background-color: transparent;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  .episode__image {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ededed;
    min-height: inherit;
  }
  @media (min-width: 500px) {
    display: block;
    .episode__description {
      width: 100%;
    }
    .episode__image {
      width: 100%;
    }
  }
}
