/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: $color-black;
    color: $color-white;
}

 /**
  * Footer inner
  * 1) Inner container set to display flex on larger screens to place content
  * side by side
  */
 .c-footer__inner {

    @media all and (min-width: $bp-large) {
        display: flex; /* 1 */
    }
 }

 /**
  * Footer top container
  * 1) Order: 2 places this container after the bottom container on larger screens
  * due to flexbox
  */
 .c-footer__top {
    margin-bottom: 2rem;

    @media all and (min-width: $bp-large) {
        order: 2; /* 1 */
        margin-bottom: 0;
        margin-left: auto;
    }
 }

 /**
  * Footer bottom container
  * 1) Order: 1 places this container before the top container on larger screens
  * due to flexbox
  */
 .c-footer__bottom {
    @media all and (min-width: $bp-large) {
        order: 1; /* 1 */
        margin-right: 2rem;
    }
 }
