/*------------------------------------*\
    #LAZY LOAD
\*------------------------------------*/

/**
 * Lazy load and lazy loaded classes
 */
.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

/**
 * Lazy loaded class
 * 1) Fade in item when lazy loaded class is applied
 */
.lazy-loaded { 
    opacity: 1; /* 1 */
}
