.c-link-list {
    margin: 0;
    list-style: none;
}

.c-link-list--2up {
    @media all and (min-width: $bp-med) {
        column-count: 2;
        column-gap: 3rem;
    }
}

.c-link-list__item {
    &.recommended {
        position: relative;
    }
}

.c-link-list__link {
    .c-link-list__item.recommended & {
        &:before {
            content: "★";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -1.5rem;
            display: block;
            color: $color-white;
            font-size: $font-size-tiny;
        }
    }
}
