/*------------------------------------*\
    #LINK LIST
\*------------------------------------*/

/**
 * Link list
 */
.c-link-list {
    margin: 0;
    list-style: none;
}

/**
 * 2up link list
 * 1) Link list that has 2 columns on medium/large screens
 */
.c-link-list--2up {
    @media all and (min-width: $bp-med) {
        column-count: 2;
        column-gap: 3rem;
    }
}

/**
 * Link list item
 */
.c-link-list__item {
    position: relative;
}

/**
 * Link list link
 */
.c-link-list__link {
    display: flex;
    padding: 0.5rem 0;

    .c-link-list__item--example & {
        &:before {
            content: "🔗";
            display: block;
            margin-right: 0.5rem;
        }
    }

    .c-link-list__item--article & {
        &:before {
            content: "📝";
            display: block;
            margin-right: 0.5rem;
        }
    }

    .c-link-list__item--book & {
        &:before {
            content: "📘";
            display: block;
            margin-right: 0.5rem;
        }
    }

    .c-link-list__item--talk & {
        &:before {
            content: "🗣️";
            display: block;
            margin-right: 0.5rem;
        }
    }

    .c-link-list__item--podcast & {
        &:before {
            content: "🎤";
            display: block;
            margin-right: 0.5rem;
        }
    }

    .c-link-list__item--tool & {
        &:before {
            content: "🛠️ ";
            display: block;
            margin-right: 0.5rem;
        }
    }
}

.c-link-list__text {
    /**
     * Link list link within recommended link list item
     */
    .c-link-list__item.recommended & {

        /**
         * Link list link before pseudoelement within recommended link list item
         */
        &:before {
            content: "*";
            color: $color-black;
        }
    }
}
