/*------------------------------------*\
    #LINK LIST
\*------------------------------------*/

/**
 * Link list
 */
.c-link-list {
    margin: 0;
    list-style: none;
}

/**
 * 2up link list
 * 1) Link list that has 2 columns on medium/large screens
 */
.c-link-list--2up {
    @media all and (min-width: $bp-med) {
        column-count: 2;
        column-gap: 3rem;
    }
}

/**
 * Link list item
 */
.c-link-list__item {

    /**
     * Recommended link list item
     * 1) Set to position relative to place link-list__link:after within this item
     */
    &.recommended {
        position: relative; /* 1 */
    }
}

/**
 * Link list link
 */
.c-link-list__link {
    display: block;
    padding: 0.5rem 0;

    /**
     * Link list link within recommended link list item
     */
    .c-link-list__item.recommended & {

        /**
         * Link list link before pseudoelement within recommended link list item
         */
        &:before {
            content: "★";
            position: absolute;
            top: 50%;
            left: -1.5rem;
            display: block;
            color: $color-white;
            font-size: $font-size-tiny;
            transform: translateY(-50%);
        }
    }
}
