.nav-sections {
    clear: both;
    width: 100%;
    @media (min-width: 800px) {
        clear: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 800px) {
          justify-content: flex-start;
        }
    }

    li {
        margin: 0;
        padding: 0;
        display: flex;
        border-bottom: 5px solid #424242;
        min-width: 3em;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        @media (min-width: 800px) {
          float: left;
          background-image: none!important;
        }
    }
    a {
        text-indent: -9999px;
        display: block;
        padding: 15px 15px 10px 15px;
        color: #fff;
        border-bottom: 5px solid #424242;
        width: 100%;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        @media (min-width: 800px) {
          text-indent: 0;
        }
    }

    .section-home {
      width: 100%;
      text-align: center;
      @media (min-width: 500px) {
        width: auto;
        text-align: left;
        flex: 1;
      }
        a {
          text-indent: 0;
        }
    }

    .section-podcasts {
        background-image: url('/images/icons/podcast/podcast--inverse.svg');
        background-size: 20px;
    }

    .section-books {
        background-image: url('/images/icons/book/book--inverse.svg');
        background-size: 22px;
    }

    .section-articles {
        background-image: url('/images/icons/article/article--inverse.svg');
        background-size: 22px;
    }

    .section-examples {
        background-image: url('/images/icons/website/website--inverse.svg');
        background-size: 40px;
    }

    .section-tools {
        background-image: url('/images/icons/wrench/wrench--inverse.svg');
    }

    .section-talks {
        background-image: url('/images/icons/presentation/presentation--inverse.svg');
    }

}
