/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container of title and descriptions that headlines the page
 */
.c-page-header{
    text-align: center;
    margin-bottom: 2rem;
}

/**
 * Page header kicker
 */
.c-page-header__kicker {

}

/**
 * Page header title
 */
.c-page-header__title {
    font-size: $font-size-large;
    text-transform: lowercase;

    @media all and (min-width: $bp-large) {
        font-size: $font-size-xl;
    }
}

/**
 * Page header description
 */
.c-page-header__description {
    margin-bottom: 0;
}
