/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container of title and descriptions that headlines the page
 */
.c-page-header {
    background: $color-black;
    color: $color-gray-15;
    text-align: center;
    padding: 4rem 4rem 6rem;
    margin-bottom: 2rem;
}

/**
 * Page header kicker
 */
.c-page-header__kicker {
    background: linear-gradient(330deg, #F3B8B3 0%, #F1DF80 25%, $color-brand-blue 50%, #9C9BC6 75%, #C28EC2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**
 * Page header title
 */
.c-page-header__title {
    font-size: $font-size-large;
    text-transform: lowercase;

    @media all and (min-width: $bp-large) {
        font-size: $font-size-xl;
    }
}

/**
 * Page header description
 */
.c-page-header__description {
    margin-bottom: 0;
}
