/*------------------------------------*\
    #PRIMARY NAV
\*------------------------------------*/

/**
 * 1) List of links that help navigate throughout the site
 */
.c-primary-nav {
    margin-left: auto;
    font-size: $font-size-small;
}

/**
 * Primary navigation list
 * 1) Set to display flex tot place primary nav items side by side
 */
.c-primary-nav__list {
    display: flex; /* 1 */
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}

/**
 * Primary navigation link
 */
.c-primary-nav__link {
    padding: 1rem 2rem 1rem 0;

    &:hover, &:focus {
        text-decoration: none;
    }

    .c-primary-nav__item:last-of-type & {
        padding-right: 0;
    }
}
