/*------------------------------------*\
    #SECTION HEADER
\*------------------------------------*/

/**
 * Section header
 */
.c-section-header {
    margin-bottom: 1rem;
}

/**
 * Section header title
 */
.c-section-header__title {
    text-transform: lowercase;
    font-size: $font-size-med-2;
    font-weight: 200;
    color: $color-gray-60;

    @media all and (min-width: $bp-large) {
        font-size: $font-size-large;
    }
}

/**
 * Section header link
 */
.c-section-header__link {
    font-family: inherit;
}
