/*------------------------------------*\
    #STRIPE
\*------------------------------------*/

/**
 * 1) A list of stripes
 */

/**
 * Stripe list item
 */
.c-stripe-list__item {
    position: relative;
    border-bottom: 1px solid $color-white;

    &:last-child {
        border-bottom: none;
    }
}
