/*------------------------------------*\
    #SUBSECTION HEADER
\*------------------------------------*/

/**
 * Subsection header
 */
.c-subsection-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-white;
}

/**
 * Subsection header title
 */
.c-subsection-header__title {
    margin-bottom: 0;
}
