/*------------------------------------*\
    #SUBSECTION HEADER
\*------------------------------------*/

/**
 * Subsection header
 */
.c-subsection-header {
    font-size: $font-size-med-2;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $color-gray-73;
}

/**
 * Subsection header title
 */
.c-subsection-header__title {
    margin-bottom: 0;
    text-transform: lowercase;
}

/**
 * Subsection header link 
 */
.c-subsection-header__link {
    color: $color-brand-blue-dark;

    &:hover, &:focus {
        color: $color-brand-blue;
    }
}