/*------------------------------------*\
    #SUBSECTION
\*------------------------------------*/

/**
 * Subsection List
 */
.c-subsection-list {
    list-style: none;
}

.c-subsection-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-white;
}

.c-subsection-header__title {
    margin-bottom: 0;
}

.c-subsection-header__link {
    
}
