/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) A set of links that toggles associated content when selected
 */

/**
 * Tabs heading
 */
.c-tabs__heading {

	/**
	 * Tabs heading within centered tabs
	 */
	.c-tabs--center & {
		text-align: center;
	}
}

/**
 * Tabs list
 * 1) Set to display flex to place tabs list items side by side
 */
.c-tabs__list {
	display: flex; /* 1 */
	margin-bottom: 2rem;

	/**
	 * Tabs list within centered tabs
	 * 1) Center the list of tabs
	 */
	.c-tabs--center & {
		justify-content: center; /* 1 */
	}
}

/**
 * Tab Item
 */
.c-tabs__item {
	flex-shrink: 0;
	margin-right: 1rem;

	/**
	 * Last tabs item
	 * 1) Remove right margin from last tabs item in the list
	 */
	&:last-child {
		margin-right: 0;
	}
}

/**
 * Tabs link
 */
.c-tabs__link {
	display: block;
	padding: 0.125rem 0.5rem;
	border-bottom: 3px solid transparent;
	transition: all $anim-fade-quick $anim-ease;

	/**
	 * Active tab link
	 */
	&.is-active {
		color: $color-white;
		border-bottom-color: $color-brand-blue;
	}

	&:hover,
	&:focus {
		color: $color-white;
	}
}

/**
 * Tab Panel
 * 1) Display by default, and only hide if JS is available
 */
.c-tabs__panel {

	/**
	 * Tabs panel when activated
	 */
	&.is-active {

		/**
		 * Tabs panel when activated and JS is available
		 */
		.js & {
			display: block; /* 1 */
		}
	}

	/**
	 * Tabs panel when JS is available
	 */
	.js & {
		display: none; /* 1 */
	}
}
