/*------------------------------------*\
    #TABS
\*------------------------------------*/

.c-tabs__heading {
	.c-tabs--center & {
		text-align: center;
	}
}

/**
 * Tabs list
 */
.c-tabs__list {
	display: flex;
	margin-bottom: 2rem;

	.c-tabs--center & {
		justify-content: center;
	}
}

/**
 * Tab Item
 * 1) Don't flex tab items so overflow auto can scroll them instead
 */
.c-tabs__item {
	flex-shrink: 0;
	margin-right: 1rem;

	&:last-child {
		margin-right: 0;
	}
}

/**
 * Tabs list
 * 1) Overlap the tabs bottom border
 */
.c-tabs__link {
	display: block;
	padding: 0.125rem 0.5rem;
	border-bottom: 3px solid transparent;
	transition: all $anim-fade-quick $anim-ease;

	/**
	 * Active tab link
	 */
	&.is-active {
		color: $color-white;
		border-bottom-color: $color-brand-blue;
	}

	&:hover,
	&:focus {
		color: $color-white;
	}
}

/**
 * Tab Body
 */
.c-tabs__body {
}

/**
 * Tab Panel
 * 1) Display by default, and only hide if JS is available
 */
.c-tabs__panel {

	/**
	 * Tabs panel when activated
	 */
	&.is-active {

		/**
		 * Tabs panel when activated and JS is available
		 */
		.js & {
			display: block; /* 1 */
		}
	}

	/**
	 * Tabs panel when JS is available
	 */
	.js & {
		display: none; /* 1 */
	}
}
