---
layout: episode
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="template-{{ page.section }} template-episode">
  {% include header.html %}

    <main class="page-content">
        <div class="l-container l-container--narrow">
            <header class="c-page-header">
                <h1 class="c-page-header__title">Style Guides <span class="fancy">with</span> {{page.title}}</h1>
            </header>

            {{page.audio}}

            {% if page.published %}
            <small>Published {{page.published}}</small>
            {% endif %}

            {% include podcast-actions.html %}

            <section class="c-section">
                <header class="c-section-header">
                    <h2 class="c-section-header__title">About {{page.title}}</h2>
                </header>
                <div class="c-text-passsage">
                    <p>{{ page.about }}</p>
                </div>
            </section>

            <section class="episode-links">
                <header class="c-section-header">
                    <h2 class="c-section-header__title">Links</h2>
                </header>
                <ul class="c-link-list c-link-list--2up">
                    {% for item in page.links %}
                    <li class="c-link-list__item"><a href="{{ item.url }}" class="c-link-list__link">{{ item.text }}</a></li>
                    {% endfor %}
                </ul>
            </section>

            <section class="transcript">
                <header class="c-section-header">
                    <h2 class="c-section-header__title">The Transcript</h2>
                    <p class="c-section-header__description">Transcribed by <a href="http://amddat.com/">Alison</a></p>
                </header>
                {{ content }}
            </section>

        </div>
    </main>

{% include footer.html %}

</body>
</html>
