<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="template-{{ page.section }}">

    {% include header.html %}

    <main class="page-content" role="main">
            {{ content }}
    </main><!-- end main -->

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="/scripts/vendor/lazyload.min.js"></script>
    <script src="/scripts/body.js"></script>
    <script src="/scripts/tags.js"></script>
    <script src="/scripts/tabs.js"></script>
    <script>
    var oLazyLoad = new LazyLoad({
        threshold: 200,
        throttle: 200,
        elements_selector: ".lazy-load",
        class_loaded: "lazy-loaded",
        data_src: "src",
    });
    </script>
</body>

</html>
