<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="template-{{ page.section }}">

        {% include header.html %}

        <main class="page-content" role="main">

            {% assign count = "" %}
            {% assign title = page.title %}
            {% assign description = content %}
            {% include page-header.html %}

            <div class="l-container">

                {% include podcast-actions.html %}

                {% include episodes.html %}

            </div><!-- end l-container -->

        </main><!-- end main -->

        {% include footer.html %}

        <script src="/scripts/vendor/lazyload.min.js"></script>
        <script>
            var oLazyLoad = new LazyLoad({
                threshold: 200,
                throttle: 200,
                elements_selector: ".lazy-load",
                class_loaded: "lazy-loaded",
                data_src: "src",
            });
        </script>
    </body>
  </html>
