<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="template-{{ page.section }}">

        {% include header.html %}

        <main class="page-content" role="main">

            <header class="c-page-header">
                <h1 class="c-page-header__title">{{ page.title }}</h1>
                <p class="c-page-header__description">{{ content }}</p>
            </header>

            <div class="l-container">

                {% include podcast-actions.html %}

                {% include episodes.html %}

            </div><!-- end l-container -->

        </main><!-- end main -->

        {% include footer.html %}

        <script src="/scripts/vendor/lazyload.min.js"></script>
        <script>
            var oLazyLoad = new LazyLoad({
                threshold: 200,
                throttle: 200,
                elements_selector: ".lazy-load",
                class_loaded: "lazy-loaded",
                data_src: "src",
            });
        </script>
    </body>
  </html>
