/*------------------------------------*\
    #BASE
\*------------------------------------*/

$color-1: #F3B8B3;
$color-1-darken: #EFAAA4;

// Books
$color-2: #F1DF80;
$color-2-darken: #DAC462;

// Articles
$color-3: #C5E17F;
$color-3-darken: #B7D176;

// The Podcast
$color-4: #6CBCCA;
$color-4-darken: #5595A0;

// Examples
$color-5: #A6DAD0;
$color-5-darken: #89C2B6;

// Tools
$color-6: #B3B2D8;
$color-6-darken: #9C9BC6;

// Talks
$color-7: #D7A8D7;
$color-7-darken: #C28EC2;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


html {
    min-height: 100vh;
}


/**
 * Basic styling
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $base-font-family;
    font-size: $font-size-med;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Media
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

audio {
  width: 100%;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $font-size-small;
}



/**
 * Lists
 */
ul, ol {
    list-style: none;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: 200;
}



/**
 * Links
 */
a {
    text-decoration: none;
    color: $color-brand-blue;

    &:hover {
        color: $text-color;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
