/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Base HTML styles
 */
html {
    min-height: 100vh;
}

/**
 * Body base styles
 */
 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     font-family: $base-font-family;
     font-size: $font-size-med;
     line-height: $base-line-height;
     font-weight: 300;
     color: $color-gray-60;
     background-color: $color-white;
     -webkit-text-size-adjust: 100%;
 }
