/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
    text-decoration: none;
    color: $color-brand-blue;

    &:hover, &:focus {
        color: $color-brand-blue-light;
    }
}
